VisualElement {
}

#Bossbar {
    width: 1000px;
    height: 20px;
    background-image: url("project://database/Assets/Sprites/UI/368-3687354_screen-red-vignette-parallel.png?fileID=2800000&guid=b4108e81dec464345aafaa642c1f348e&type=3#368-3687354_screen-red-vignette-parallel");
    background-color: rgb(0, 0, 0);
}

#Bossbar .unity-progress-bar__container {
    height: 50px;
    scale: 1 1;
    width: 1000px;
    transition-property: width;
    transition-timing-function: ease-in-out;
}

#Bossbar .unity-progress-bar__progress {
    background-image: url("project://database/Assets/Sprites/UI/healthbar_boss_eco_frame.png?fileID=2800000&guid=294cbe4c5efa6dd4d946a0a008272d76&type=3#healthbar_boss_eco_frame");
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: left top;
    height: 42px;
    align-items: auto;
    align-content: auto;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

#Bossbar .unity-progress-bar__background {
    background-color: rgb(0, 0, 0);
    height: 50px;
    background-image: url("project://database/Assets/Sprites/UI/healthbar_boss_eco_infill.png?fileID=2800000&guid=d77e803bff02e8b45a0f839e586980ec&type=3#healthbar_boss_eco_infill");
    background-repeat: repeat no-repeat;
    -unity-background-scale-mode: stretch-to-fill;
    min-height: 50px;
    max-height: 50px;
}
